<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'foundation.min.css'%}">
    <title>Document</title>
</head>
<body>
    <h1 class="ejemplo1">Hola desde las vistas</h1>
    <p>Probando el patron de diseño</p>

    <h1>Probando estilos de foundations</h1>
    <div class="button-group">
        <a class="button">One</a>
        <a class="button">Two</a>
        <a class="button">Three</a>
    </div>
    <div class="primary button-group no-gaps">
        <a class="button">Harder</a>
        <a class="button">Better</a>
        <a class="button">Faster</a>
        <a class="button">Stronger</a>
      </div>

</body>
</html>